@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title.</h2>
<h3>Связаться со мной можно, написав письмо </h3>



<address>
    <strong>Электронная почта:</strong>   <a href="mailto:madorin@yandex.ru">madorin@yandex.ru</a><br />
    
</address>