@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Сверхсекретный проект HidingRelax</h1>
    <p class="lead">Инициаторами и вдохновителями этого проекта явились величайшие программисты современности (и ,посовместительству, группы компаний РЕЛЭКС) 
    Вадим Мельников и Алексей Киселев. Именно эти святые отцы программирования дали скромному послушнику Мадорину Владимироу задание 
    реализовать методы CRUD для какой - нибудь таблицы базы данных, что бы он делом и страданиями своими подтвердил желание замяться великомученичеством Web программирования. 
    
    </p>
    <h3>Язык C#. Субд SQL Server. Entity Fremefork. ASP .NET MVC.</h3>
    <h3>Задание выполнено на 200%: в проекте доступно ведение двух таблиц :-).</h3>
</div>

